img{
  width: 400px;
}

.CharacterContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(0, 119, 255);
  padding: 10px 50px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 20px;
} 